*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/caches/*.ser
/.idea/codeStyles/*.xml
/.idea/*.xml
/app/release
/.idea/dictionaries/
/.idea/inspectionProfiles/
/.idea/shelf/
/.idea/
