<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhongjh.albumcamerarecorder">

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application>

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:screenOrientation="locked"
            android:launchMode="singleTop" />
        <activity
            android:name=".preview.SelectedPreviewActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="locked"
            android:launchMode="singleTop" />
        <activity
            android:name=".preview.AlbumPreviewActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="locked"
            android:launchMode="singleTop" />
        <activity
            android:name=".camera.ui.previewvideo.PreviewVideoActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="locked"
            android:launchMode="singleTop" />

    </application>


</manifest>
